@media screen and (min-width: 768px) {
  .datas {
    display: grid;
    grid-template-columns: 280px 280px 280px;
    gap: 40px;
    padding: 20px;
  }
  .display {
    display: grid;
    grid-template-columns: 80% 20%;
  }
}
@media screen and (max-width: 768px) {
  .datas {
    display: block;
    padding: 30px;
  }
  .display {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .datas {
    display: grid;
    grid-template-columns: 200px 200px;
    gap: 20px;
  }
  .display {
    display: grid;
    grid-template-columns: 70% 30%;
  }
}
