.box {
  border-radius: 10px;
  background-color: rgb(180, 240, 255);
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.box:hover {
  box-shadow: 10px 10px #88888852;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .question {
    display: block;
    width: 60%;
    margin: auto;
  }
}
@media screen and (min-width: 992px) {
  .question {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    justify-content: space-around;
  }
}
